# macOS
.DS_Store
.Trashes

# Xcode
Build/
/.build

# Project
/SwiftDefaultApps.xcworkspace/xcuserdata
/SwiftDefaultApps.xcodeproj/xcuserdata
/SwiftDefaultApps CLI.xcodeproj/xcuserdata
/AppDoesNothing.xcodeproj/xcuserdata
